body {
    background-color: #110000;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#630;
    line-height:25px;
    font-size:0.95em;
    /* background-color: bisque; */
    margin: 0;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

#menu {
    /* background-color: green; */
}

#content {
    background: url("../img/top_img.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    display: flex;
    height: 100vh;
    overflow-y: auto;
}

#menu-content {
    /* background-color: indianred; */
    top: 0px;
    position: sticky;
    width: 300px;
    min-width: 25%;
    justify-content: flex-end;
    color: aquamarine;
}

#menu-content > ul {
    list-style: none;
}

#menu-content > ul > li {
    padding-bottom: 9px;
}

#main-content {
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-around;
}

.card {
    padding: 16px;
    display: flex;
}

.cocktail-name {
    background: url("../img/liit.png");
    background-size: 100% auto;

    color: aquamarine;
    border: 1px solid #fff;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */

    width: 200px;
    height: 300px;
}

.cocktail-name:hover {
    text-decoration: underline;
}

header {
    top: 0px;
    position: sticky;
}

header > .title {
    text-shadow: 3px 3px 3px #999999;
    text-align: center;
    background-color: #110000;
}

header > .title > a {
    color: #fff;
    font-family: Batang;
    letter-spacing: 5px;
}

.tag {
    padding: 0px 9px 0px 9px;
    border: 1px solid aquamarine;
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: auto;
    height: 25px;
    line-height: 25px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.tag:hover {
    text-decoration: none;
}

.tag:active {
    -webkit-transform: translateY(2px);
    transform: translateY(5px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
